.container {
  padding: 100px;
  background-color: #fff3e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  margin: 160px auto 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin-left: 80px; 
}

.container > h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px; 
}

.card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  height: auto; 
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.card h2 {
  font-size: 1.5em; 
  margin-bottom: 10px;
  color: #000;
}

.card img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.card .description {
  color: #333;
  font-size: 1em;
  margin-bottom: 10px;
}

.card .price {
  font-weight: bold;
  color: #007bff;
}

.card button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.2s;
  width: 100%;
}

.card button:hover {
  background-color: #0056b3;
}
